body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

h1 {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 2.5em; 
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
}

.image-gallery img:hover {
  opacity: 0.9;
  outline: 1px solid black;
}

/*
.image-gallery .image-container {
  positition: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.image-gallery .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
*/
img {
  max-width: 100%;
  height: auto;
  width: auto; 
  border: 1px solid black;
}

.margin-left,
.margin-right {
  width: 15%;
  background-color: #fadadd; 
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.margin-left {
  left: 0;
}

.margin-right {
  right: 0;
}
